# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\online_new_7am_django_batch\User_Authentication_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
